@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Permanent+Marker&display=swap');
.home{
    display: grid;
    /* justify-items: center;
    align-items: center; */
    height: 88.9vh;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.sections{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    height:30rem;
    width:100%;
    margin-top: .5rem;
}
.page{
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: gray;
    height: 20rem;
    width: 100%;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}
.page1{
    
    background-image: url(../imgs/guanaco-lama-guanicoe-parque-nacional-torres-paine.jpg);
    background-size: cover;
    


}
.page1:hover{
    transition: .2s;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}
.page2{
    background-image: url(../imgs/guanaco-lama-guanicoe-parque-nacional-torres-paine.jpg);
    background-size: cover;
}
.page2:hover{
    transition: .2s;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}
.contenidoO, .conntenidoR{
    position: absolute;
    box-sizing: border-box;
    transition: opacity 0.5s ease-in-out;
}
.conntenidoR{
    opacity: 0;
}
.page:hover .contenidoO{
    opacity: 0;
    transition: .2s;
}
.page:hover .conntenidoR{
    opacity: 1;
    transition: .3s;
}
